In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
np.sqrt(4)
manuel_values = np.arange(1,11)
manuel_values
#simulated_values = np.random.randn(10)
#plt.plot(simulated_values)
#plt.plot(manuel_values)
#plt.show()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [19]:
mu = 0.08
sigma= 0.2

In [20]:
r_t = np.random.normal(mu, sigma, 100)
mu_hat = np.mean(r_t)
sigma_hat = np.std(r_t)
print(mu_hat, sigma_hat)

0.06950198160978706 0.19709324569870712

In [48]:
! pip install wrds
import wrds
l=0

Requirement already satisfied: wrds in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (3.1.5)
Requirement already satisfied: numpy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from wrds) (1.21.4)
Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from wrds) (1.3.4)
Requirement already satisfied: scipy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from wrds) (1.7.3)
Requirement already satisfied: psycopg2-binary in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from wrds) (2.9.5)
Requirement already satisfied: sqlalchemy<2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from wrds) (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from sqlalchemy<2->wrds) (2.0.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas->wrds) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas->wrds) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas->wrds) (1.16.0)

WARNING: You are using pip version 22.0.3; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\User\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [47]:

db=wrds.Connection(wrds_username="sansonet")
hdf5=db.raw_sql("select date, ret from crsp.dsf where permco in (7,35048,8048,21446,20792) and date>='2001-01-01'and date<='2020-12-31'")
hdf5

Loading library list...
Done

             date       ret
0      2001-01-02  0.000000
1      2001-01-03  0.100840
2      2001-01-04  0.041985
3      2001-01-05 -0.040293
4      2001-01-08  0.011450
...           ...       ...
25155  2020-12-24 -0.001131
25156  2020-12-28  0.013390
25157  2020-12-29 -0.006086
25158  2020-12-30  0.005581
25159  2020-12-31  0.016419

[25160 rows x 2 columns]

In [44]:
hdf5

             date       ret
0      2001-01-02  0.000000
1      2001-01-03  0.100840
2      2001-01-04  0.041985
3      2001-01-05 -0.040293
4      2001-01-08  0.011450
...           ...       ...
25155  2020-12-24 -0.001131
25156  2020-12-28  0.013390
25157  2020-12-29 -0.006086
25158  2020-12-30  0.005581
25159  2020-12-31  0.016419

[25160 rows x 2 columns]